@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --Charcoal-Slate: #2E343B;
	--Deep-Navy: #21272F;
	--Medium-Drak: #555;
	--Black: black;
	--White: white;
	--Light-Blue: lightblue;
	--Fiesta-Red: #F74F4F;
	--Sunrise-Gold: #FEB901;
	--Spring-Meadow: #50CC19;
	--White-Smoke: whitesmoke;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(320deg, red, blue);
}
.code-box{
	min-height: 450px;
	max-height: 550px;
	background-color: var(--Deep-Navy);
	max-width: 90%;
	min-width: 70%;
	border-radius: 10px;
	overflow-x: hidden;
	scrollbar-width: thin; /* "auto" or "thin" or "none" */
	scrollbar-color: var(--Charcoal-Slate) transparent; /* thumb color and track color */
}
/* Handle on hover */
.code-box::-webkit-scrollbar-thumb:hover {
	background: var(--Medium-Dark);
}
.code-top-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 10px 10px; */
	border-bottom: 1px solid var(--Black);
	background-color: var(--Charcoal-Slate);
	color: var(--White);
	position: sticky;
	top: -3px;
}
.code-top-bar .top-bar-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-right: 20px;
}
.code-top-bar .top-bar-dots span{
	background-color: var(--Light-Blue);
	height: 15px;
	width: 15px;
	border-radius: 100%;
}
.code-top-bar .top-bar-dots span:nth-child(1){
	background-color: var(--Fiesta-Red);
}
.code-top-bar .top-bar-dots span:nth-child(2){
	background-color: var(--Sunrise-Gold);	
}
.code-top-bar .top-bar-dots span:nth-child(3){
	background-color: var(--Spring-Meadow);
}
.code-top-bar h1{
	font-size: 16px;
	font-weight: 400;
	background-color: var(--Deep-Navy);
	padding: 10px 10px 10px 30px;
	margin-top: 3px;
	margin-left: 20px;
	border-radius: 5px 5px 0 0;
	position: relative;
}
.code-top-bar h1::before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	height: 12px;
	width: 12px;
	background-color: var(--Charcoal-Slate);
	border-radius: 100%;
}
.code-area{
	padding: 20px;
	color: var(--White-Smoke);
	overflow-x: hidden;
}
.code-area ul,ol{
	margin-left: 20px;
}
.code-area img{
	width: 100%;
	margin: 20px 0;
}
.code{
	/* background-color: red; */
	display: block;
	padding: 30px 0;
	border-bottom: 1px solid var(--Charcoal-Slate);
}









.im-var{
	background-color: #4fcc193f;
	padding: 0 10px;
	color: #50CC19;
}
.im-let{
	background-color: #febb0146;
	padding: 0 10px;
	color: #FEB901;
}
.im-const{
	background-color: #add8e646;
	padding: 0 10px;
	color: #ADD8E6;
}
.im-object{
	background-color: #19b7cc3f;
	padding: 0 10px;
	color: #19ccc9;
}
.im-highlight{
	background-color: #383535b5;
	padding: 0 10px;
	color: #d5cccc;
}
.im-error{
	background-color: rgba(126, 37, 37, 0.359);
	padding: 5px;
	color: rgb(255, 33, 33);
}
.mt-10px{
	margin-top: 10px;
}
.real-code-box,.real-code-box{
	margin-top: 20px;
	width: 10	0%;
	background-color: var(--Charcoal-Slate);
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
}
h4{
	/* padding: 10px; */
	color: var(--White);
	font-weight: 600;
	font-size: 15px;
	border-radius: 5px;
}
pre {
	white-space: pre-wrap;
	font-family: monospace;
	background-color: var(--Medium-Drak);
	padding: 3px 10px;
	border-radius: 3px;
}






.m-5px{
	margin: 5px;
}
.mt-15px{
	margin-top: 15px;
}
.mt-10px{
	margin-top: 10px;
}
.mt-20px{
	margin-top: 20px;
}
.mt-30px{
	margin-top: 30px;
}
.text-capitalize{
	text-transform: capitalize;
}
.br-10px{
	border-radius: 10px;
}
.img-80{
	width: 80% !important;
}
.comment {
	color: #9da5ae; /* Change this color to whatever you prefer */
}
.bg-charchol{
	background-color: var(--Charcoal-Slate);
}
.bg-deepnavy{
	background-color: var(--Deep-Navy);
}
.cp{
	cursor: pointer;
}
button{
	padding: 10px 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: var(--Fiesta-Red);
	color: var(--White-Smoke);
	margin: 10px 0;
	cursor: pointer;
}
.text-whitesmoke{
	color: rgb(216, 216, 216);
}